body, html {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Indie Flower';
}

.page {
    background: linear-gradient(blueviolet, #FF6F61FF);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.904);;
    font-weight: bolder;
    background-color: blueviolet;
    margin: 0;
    padding-top: 12px;
    font-size: 72px;
    text-shadow: 0 0 5px white;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: rgba(255, 255, 255, 0.904);;
    font-weight: bolder;
    background-color: blueviolet;
    margin: 0;
    padding-bottom: 8px;
    font-size: 36px;
    text-shadow: 0 0 5px white;
}

.grid {
    height: 600px;
    width: 600px;
    background-color: #FF6F61FF;
    opacity: 70%;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 24px;
}

.grid > div.sixteen {
    margin: 0;
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

.grid > div.thirtytwo {
    margin: 0;
    background-color: white;
    width: 16px;
    height: 16px;
    border-radius: 2px;
}

.grid > div.sixtyfour {
    margin: 0;
    background-color: white;
    width: 8px;
    height: 8px;
    border-radius: 1px;
}

.btncontainer{
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.btn {
    font-size: 32px;
    padding: 12px;
    font-weight: bold;
    font-family: 'Indie Flower';
    background-color: #FF6F61FF;
    color: white;
    border: #FF6F61FF;
    border-radius: 4px;
    opacity: 70%;
    box-shadow: 0 0 15px white;
    text-shadow: 0 0 5px white;
}

.sizeGrid {
    font-size: 32px;
    padding: 12px;
    font-weight: bold;
    font-family: 'Indie Flower';
    background-color: #FF6F61FF;
    color: white;
    border: #FF6F61FF;
    border-radius: 4px;
    opacity: 70%;
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 15px #FEAE51FF;
}
.reset {
    width: 600px;
    font-size: 32px;
    padding: 12px;
    font-weight: bold;
    font-family: 'Indie Flower';
    background-color: #FF6F61FF;
    color: white;
    border: #FF6F61FF;
    border-radius: 4px;
    opacity: 70%;
    box-shadow: 0 0 15px white;
    text-shadow: 0 0 5px white;
}

#id {
    background-color: #FEAE51FF;
}

.hovered {
    transform: scale(1.1);
    box-shadow: 0 0 30px white, 0 0 5px white inset;
    text-shadow: 0 0 10px white;
}
