body, html {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Indie Flower';
}

.page {
    background: linear-gradient(blueviolet, #FF6F61FF);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.904);;
    font-weight: bolder;
    background-color: blueviolet;
    margin: 0;
    padding-top: 48px;
    font-size: 72px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.904);;
    font-weight: bolder;
    background-color: blueviolet;
    margin: 0;
    padding-top: 12px;
    font-size: 36px;
}

.grid {
    height: 600px;
    width: 600px;
    background-color: #FF6F61FF;
    opacity: 70%;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 24px;
}

.grid > div.sixteen {
    margin: 0;
    background-color: white;
    width: 32px;
    height: 32px;
}

.grid > div.thirtytwo {
    margin: 0;
    background-color: white;
    width: 16px;
    height: 16px;
}

.grid > div.sixtyfour {
    margin: 0;
    background-color: white;
    width: 8px;
    height: 8px;
}

.btncontainer{
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.btn {
    font-size: 32px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
    font-family: 'Indie Flower';
    background-color: #FF6F61FF;
    color: white;
    border: #FF6F61FF;
    border-radius: 4px;
    opacity: 70%;
}
