body, html {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Indie Flower';
}

.page {
    background: linear-gradient(blueviolet, #FF6F61FF);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.904);;
    font-weight: bolder;
    background-color: blueviolet;
    margin: 0;
    padding-top: 48px;
    font-size: 72px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.904);;
    font-weight: bolder;
    background-color: blueviolet;
    margin: 0;
    padding-top: 12px;
    font-size: 36px;
}

.grid {
    background-color: #FF6F61FF;
    opacity: 85%;
    padding: 48px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0.3em;
    border-radius: 8px;
}

.grid > div {
    height: 24px;
    width: 24px;
    background-color: white;
}

